body{
    background-color: #dad6c5;
   
}
  

.container{
    max-width: 1500px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 8px;
}

header{
    background-color: bisque;
    padding-bottom: 50px;
    padding-top: 0px;
    padding-left: 30px;
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
    margin-top: 0px;

}

.perfil{
    height: 300px;
    width: 300px;
    position: relative;
    right: 400px;
    top: 270px;
    border-radius: 190px;
    
}

.info{
   
    background-color: #e9c190;
    padding: 15px;
    border-radius: 30px;
    margin-left: 300px;
    width: 70%;
    
}

.geral{
    margin-top: 60px;
    margin-left:90px;
    margin-bottom: 30px;
    width: 80%;
    background-color: #e7d8c6;
    padding: 30px;
    padding-left: 80px;
    border-radius: 100px

}

.coluna{
    position: absolute;
    background-color: #e9c190;
    height: 2650px;
    width: 50px;
}


button{
    position: relative;
    left: 44%;
    top: 200px;
    margin-bottom: 300px;
    font-size: 20px;
    background-color:#e9c190;

}