header{
    top: 0px;
    background-color: #d90c0c;
    text-align: center;
    width: 100%;
    padding: 8px;
    box-shadow: 1px 7px 7px 2px black;
}

h1{
    font-size: 40px;
}

nav{
    margin: 20px;
    font-size: 20px;
}


.news{
    margin: 30px;
    top: 100px;
    position: relative;
    left: 500px;
    text-align: center;
    width: 800px;
    
}

.imagem{
    position: relative;
    width: 500px;
    height: 400px;
    border: #000000 10px solid;
    border-radius: 10px;
}


form{
    position: fixed;
    top: 300px;
    background-color:#d90c0c;
    width:250px;
    height: 160px;
    margin-left:20px ;
    margin-bottom:20px ;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 2px 10px 2px black;
}

.enviar{
    margin-left: 80px;
}

footer{
    margin-top: 200px;
    border-radius: 10px 10px 0 0 ;
    height: 100px;
    background-color:#d90c0c;
}

.redes{
    margin-top: 30px;
    position: relative;
    left: 1550px;
    width: 50px;
    height: 50px;
}

.redes:hover{
    transform: translateY(-10px);
}

.rodape{
    text-align: center;
    background-color: gray;
}