body{
    background-image: url(pp.png);
    background-size: 100%;
  
}

header{
    text-align: center;
    font-size: 30px;
    background-color: #8fe1f0;
    border-radius: 20px ;
}

main{
    position: relative;
    left: 650px;
    background-color:#82cdf0;
    width: 600px;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    margin-top: 200px;
}

.book{
    position: relative;
    left: 600px;
    font-size: 20px;
    text-align: center;
    margin: 100px;
    width: 500px;
}

p{
    text-align: center;
}

.lado{
    position:fixed;
    top: 200px;
    left: 50px;
    border-top: 20px;
    border-left: 20px;
    background-color: #8fe1f0;
    height: 180px;
    width: 180px;
    margin-top: 200px;
    border-radius: 15px;
    
}

footer{
    margin-top: 500px;
}